/* src/css/Projects.css */

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.app-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  min-height: 90vh;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

.content-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
}

.project-button {
  background-color: #c39156;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 5px;
}

.project-button:hover {
  border: #333 solid 1px;
  background-color: #f9f9f9;
  color: black;
}


.project-card {
  background-color: #f8f9fa;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  flex: 1 1 300px;
  max-width: 100%;
}

.project-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.project-info {
  padding: 15px;
}

.project-info h3 {
  margin: 0;
  font-size: 1.5em;
  color: #333;
}

.project-info p {
  margin-top: 10px;
  color: #666;
  font-size: 1em;
}
